<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand">BootcampApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/bootcamp/index" class="nav-link">Bootcamp</a>
            </li>
            <li class="nav-item">
                <a href="/bootcamp/list" class="nav-link">Bootcamp List</a>
            </li>
        </ul>
    </div>
</nav>