@model BootcampKayit

<h2>Kursa Kayıt Ekleme</h2>
<hr>
<form asp-controller="BootcampKayit" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciId" class="form-label"></label>
        <select asp-for="OgrenciId" asp-items="ViewBag.Ogrenciler" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="BootcampId" class="form-label"></label>
        <select asp-for="BootcampId" asp-items="ViewBag.Bootcamps" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>